{% extends 'navigation.html' %}
{% load static%}
{% block body %}
<title>Copyright</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
    }
    p {
        margin-bottom: 20px;
    }
</style>
</head>
<body>
<div class="container">
    <h1>Copyright</h1>
    
    <p>&copy; [Year] [Your Company Name]. All rights reserved.</p>
    
    <p>This website and its content are protected by copyright and other intellectual property laws. You may not reproduce, distribute, modify, or create derivative works of any part of this website without the prior written consent of [Your Company Name].</p>
    
    <p>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.</p>
    
    <p>This website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>
    
    <p>Your use of this website and any dispute arising out of such use of the website is subject to the laws of [Your Country].</p>
</div>
</body>
{% endblock %}